
.gallery-small{
    text-align: center;
    color: wheat !important;
}
.gallery_small_after > p{
    font-size: 15px;
}
.gallery_small_after > i{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.gallery_small_images_div{
    width: 80%;
    position: relative;
    height: 400px;
    overflow-y: hidden;
    overflow-x: auto;
    margin:auto;
    display: flex;
}

.gallery_small_images_div > img{
    width: 100%;
    height: 400px;
    margin: 0 10px
}